<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>EuAjudo || Logs da aplicação</title>

        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="../styles/user-dashboard.css">    
        <link rel="stylesheet" href="../styles/table.css">
    </head>

    <body>
        <div id="main-container">
            <header>
                <a href="/org/dashboard">
                    Voltar para o dashboard
                </a>
                <a class="btn-logout" href="/sessions/logout">Sair</a>
            </header>

            <h1>Visualize os logs da aplicação</h1>

            <div class="user-info">
                <table class="minimalistBlack">
                    <thead>
                        <tr>
                            <th>Ação</th>
                            <th>Descrição</th>
                            <th>Id do Usuário</th>
                            <th>Id da Organização</th>
                            <th>Timestamp</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% log.forEach(function(l) { %>
                            <tr>
                                <td>
                                    <%= l.title %>
                                </td>
                                <td>
                                    <%= l.description %>
                                </td>
                                <td>
                                    <% if (l.user_id) { %>
                                        <%=l.user_id %>
                                    <% } else { %>
                                        Vazio
                                    <% } %>
                                </td>
                                <td>
                                    <% if (l.org_id) { %>
                                        <%=l.org_id %>
                                    <% } else { %>
                                        Vazio
                                    <% } %>
                                </td>
                                <td>
                                    <%= l.created_at %>
                                </td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
    </body>
</html>