<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>EuAjudo || Perfil do usuário</title>

        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="../styles/user-dashboard.css">
        <link rel="stylesheet" href="../styles/table.css">   
    </head>

    <body>
        <div id="main-container">
            <header>
                <a href="/user/dashboard">
                    Voltar para o dashboard
                </a>
                <a class="btn-case" href="/user/update">Editar perfil</a>
                <a class="btn-logout" href="/sessions/logout">Sair</a>
            </header>

            <h1>Visualize suas informações cadastradas</h1>
            <div class="user-info">
                <table class="minimalistBlack">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Email</th>
                            <th>Telefone</th>
                            <th>Endereço</th>
                            <th>Número</th>
                            <% if(user.complement) { %>
                                <th>Complemento</th>
                            <% } %>
                            <th>Cidade</th>
                            <th>UF</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <%= user.name %>
                            </td>
                            <td>
                                <%= user.email %>
                            </td>
                            <td>
                                <%= user.phone %>
                            </td>
                            <td>
                                <%= user.address %>
                            </td>
                            <td>
                                <%= user.number %>
                            </td>
                            <% if(user.complement) { %>
                                <td>
                                    <%= user.complement %>
                                </td>
                            <% } %>
                            <td>
                                <%= user.city %>
                            </td>
                            <td>
                                <%= user.uf %>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <div class="case-info">
                <h1>Visualize as ações as quais você se voluntariou</h1>
            </div>
            <ul>
                <% cases.forEach(function(c) { %>
                    <li>
                        <strong>Ação:</strong>
                        <p><%= c.title %></p>
        
                        <strong>Descrição:</strong>
                        <p><%= c.description %></p>
        
                        <a href="/case/delete/<%=c.case_id%>" class="btn-undo">Desistir</a>
                    </li>
                <% }); %>
            </ul>
        </div>
    </body>
</html>